.ventana-emergente button{
    width: 70%;
    margin: 5px 0;
    background-color: #00458a;
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block; /* Convertir el enlace en un bloque */
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  .ventana-emergente button.cerrar{
    width: auto;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block; /* Convertir el enlace en un bloque */
    text-decoration: none;
    color: #00458a;
    padding: 10px;
  }
  
  .ventana-emergente h1{
    text-decoration: underline;
  }
  
  .ventana-emergente button:hover {
    background-color: #d30d1e;
  }
  
  .ventana-emergente button.cerrar:hover {
    background-color: #d30d1e00;
  }