/* CABECERA */
header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    max-height: 10vh;
    background-color: #00458a;
    color: white;
    border-bottom: 10px solid #ffffff;
	box-sizing: border-box; /* Asegura que el ancho total incluya el borde */

}


header div.cabeza {
    height: 100%;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    font-family: Perpetua;
    font-size: 40px;
	max-width: 50%; 
	flex: 1;
	margin-left: auto;
	margin-right: auto;
}

header div.cabeza div.tituloCabecera{
    height: 100%;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}

  

header img{ /* Las imágenes que aparezcan dentro de la Cabecera */
	max-width: 100%;
	width: auto;
	max-height: 10vh;
    padding: 2px;
    box-sizing: border-box;
}

header img:hover {
    transform: scale(1.05); /* Amplía la imagen al 105% */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}



header div.tituloCabecera h1{
	margin:0;
}

#sidebarButtonContainer {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Agrega el margen a la izquierda */
}

#toggleSidebar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    font-family: Helvetica;
    transition: background-color 0.3s; /* Agrega una transición para el cambio de color */
    padding: 10px 20px; /* Añade relleno para crear una caja alrededor del botón */
}

#toggleSidebar:hover {
    background-color: #d30d1e; /* Cambia el color de fondo al pasar el mouse por encima */
}


  