/* CABECERA */

header {
	position: relative; /* Asegura que los pseudo-elementos se posicionen correctamente */
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	min-height: 10vh;
	background-color: #303030;
	color: white;
	overflow: hidden; /* Para ocultar las franjas que excedan el ancho */
	border-bottom: 10px solid #ffffff;
  }
  

header img{ /* Las imágenes que aparezcan dentro de la Cabecera */
	max-width: 100%;
	width: auto;
	max-height: 100%;
}

header img:hover{ /* Las imágenes que aparezcan dentro de la Cabecera */
	transform: translateY(-2px);
}

header div.cabeza{
	padding: 2vh;
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row wrap;

	justify-content: center;
	align-items: center;
}

header div.cabeza div.tituloCabecera{
	height: 100%;
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
	align-items: center;

}

header div.cabeza div.infoCabecera{
    margin-left: auto;
    height: 100%;
    align-items: center;
	justify-content: center;
    display: flex;
    flex-flow:row wrap;
}


#toggleSidebar {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 24px;
	color: #000;
	display: flex; /* Usa flexbox para ajustar el orden y alineación */
	align-items: center; /* Alinea verticalmente el contenido en el centro */
	color: aliceblue;
  }
  
  #toggleSidebar i {
	margin-left: 20px; /* Agrega un margen a la derecha para separar el icono del texto */
  }
  