/*PAGINA DE MIS EQUIPOS*/
.equipos {
    /* Asegúrate de que los divs se muestren uno debajo del otro */
    display: flex;
    flex-direction: column;
    font-size: 14px; 
}

/* Estilos para cada uno de los divs internos */
.equipos div{
    width: 100%;
    border: 1px solid #000; /* Puedes ajustar el color y el grosor del borde según tus preferencias */
    width: 100%;
}


.paginaDetalle {
    display: flex;
    flex-direction: column;
    font-size: 14px; 
}

/* Estilos para cada uno de los divs internos */
.paginaDetalle div{
    width: 100%;
    border: 1px solid #000; /* Puedes ajustar el color y el grosor del borde según tus preferencias */
    width: 100%;
}