/*******************************************************************/
/* PAGINA DETALLE*/

.perfil {
    display: flex;
    flex-direction: column;
    font-size: 14px; 
    border: 1px solid #00458a; 
    box-sizing: border-box;
}

.perfil .lastgames {
    overflow: auto;
}


.perfil h2{
    font-size: 18px; 
    text-decoration: underline;
    text-align: center;
}

/*Cabecera Perfil*/
.perfilCabecera {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #00458a; 
    box-sizing: border-box;
}

.tituloCabecera {
    display: flex;
    align-items: center;
    font-size: 35px;

}

.tituloCabecera p{
margin: 10px;
}

.perfilImagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
}

.infoUsuario {
    display: flex;
    flex-direction: column;
}

.cambiarPassword {
    margin-left: 10px;
}

.perfilCabecera button {
    background-color: #00458a;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.perfilCabecera button:hover{
    background-color: #d30d1e;
    color: white;
}



/*******************************************************************/
/* PAGINA DETALLE*/
.paginaDetalle {
    display: flex;
    flex-direction: column;
    font-size: 14px; 
    border: 1px solid #00458a; 
    box-sizing: border-box;
}

.paginaDetalle .lastgames {
    overflow: auto;
}

.paginaDetalle div.cuadroInfo{
    width: 100%;
    border-top: 1px solid #00458a; 
}

.paginaDetalle h1{
    text-decoration: underline;
    font-size: 18px; 
}

.paginaDetalle h2{
    font-size: 18px; 
    text-decoration: underline;
    text-align: center;
}
/***/
.paginaDetalle .cuadroInfo .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/***********************************************************/
/*MOSTRAR ESTADISTICAS*/

.cuadrostats{
    width: 100%;
}

.cuadrostats .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.stats-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    padding-right: 10px;
    border: 1px solid #00458a; 
    box-sizing: border-box;
    background-color: white;
}

.stats-row h3{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #00458a;
    color: white;
    margin:0;
    padding: 5px;
    float: left;
    width: 10%;
}

.stat {
    text-align: center;
}

.stat p:first-child {
    font-weight: bold;
}

.stat p:last-child {
    font-size: 18px; /* Ajusta el tamaño de fuente según tu preferencia */
    margin-top: 5px;
}


/**//**/


.cuadrostatsMejora,.cuadrostatsAvanzadas{
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.cuadrostatsMejora .stats ,.cuadrostatsAvanzadas .stats{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.stat-container {
    width: 10%;
    margin: 5px;
    align-items: center;
    border: 1px solid #00458a; 
    box-sizing: border-box;
    text-align: center;
    background-color: white;
}

.stat-label{
    background-color: #00458a;
    color: white;
    font-weight: bold;
    margin:0px;
    padding: 10px;
}

/*ULTIMOS PARTIDOS JUGADOR*/

.lastgames table {
    border-collapse: collapse;
    width: 100%;
}

.lastgames th {
    padding: 8px;
    text-align: center;
    background-color: #00458a;
    border: 1px solid  white;
    color: white;
}

.lastgames td {
    padding: 8px;
    text-align: center;
    background-color: white;
    border: 1px solid  #00458a;
    color: black;
}


/**********************************************************************/
/*PAGINA DE MIS EQUIPOS*/
.equipos {
    /* Asegúrate de que los divs se muestren uno debajo del otro */
    display: flex;
    flex-direction: column;
    font-size: 14px; 
}

.statsEquipos{
    margin-top: 5px;
    border-top: 5px dotted #00458a; 
    box-sizing: border-box;
}

.equipos h2{
    font-size: 18px; 
    text-decoration: underline;
    text-align: center;
}



.paginaDetalle .cuadroEntrenadores table, .paginaDetalle .cuadroJugadores table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

.paginaDetalle .cuadroEntrenadores th, .paginaDetalle .cuadroJugadores th {
    padding: 8px;
    text-align: center;
    background-color: #00458a;
    border: 1px solid  white;
    color: white;
}

.paginaDetalle .cuadroEntrenadores td , .paginaDetalle .cuadroJugadores td {
    padding: 8px;
    text-align: center;
    background-color: white;
    border: 1px solid  #00458a;
    color: black;

}

.paginaDetalle .cuadroEntrenadores td a , .paginaDetalle .cuadroJugadores td a {
    display:block;
    background-color:  #b9d4f0;

}
.paginaDetalle .infoPartido {
    overflow-x: auto;
    overflow-y: auto;
    max-width: 80%;
    margin: auto;
}

.paginaDetalle .infoPartido table{
    border-collapse: collapse;
    margin: auto;
}

.paginaDetalle .infoPartido th{
    padding: 4px;
    text-align: center;
    background-color: #00458a;
    border: 1px solid  white;
    color: white;
}

.paginaDetalle .infoPartido td{
    padding: 4px;
    text-align: center;
    background-color: white;
    border: 1px solid  #00458a;
    color: black;
}
